/android_studio/*.iml
/android_studio/.gradle
/android_studio/local.properties
/android_studio/.idea/caches
/android_studio/.idea/libraries
/android_studio/.idea/modules.xml
/android_studio/.idea/workspace.xml
/android_studio/.idea/navEditor.xml
/android_studio/.idea/assetWizardSettings.xml
/android_studio/.DS_Store
/android_studio/build
/android_studio/captures
/android_studio/.externalNativeBuild
/android_studio/.cxx
/android_studio/local.properties
